/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.02.2017, 17:25:22
    Author     : w4ter
*/

#tbl_addProjekt tr td{
    text-align: right;
    padding-right:10px;
    padding-bottom:10px;
}

#tbl_addProjekt tr td input{
    width:300px;
}