<div style="padding-top:10px">
    <div class="row">
        <div class="col-md-12">
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Einstellungen</h3>
                </div>
                <div class="panel-body">
                    
                    <h2>Passwort ändern</h2>
                    <hr>
                    <table id="tbl_changepassword">
                        <tr>
                            <td>Altes Passwort:</td>
                            <td><input type="password" id="oldpw" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Neues Passwort:</td>
                            <td><input type="password" id="newpw" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Neues Passwort wiederholen:</td>
                            <td><input type="password" id="newpw2" class="form-control"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="button" class="btn btn-default" id="btn_pwAendern">Ändern</button></td>
                        </tr>
                    </table>
  
                </div>
            </div>
            
        </div>
    </div>
</div>
