<div style="padding-top:10px;">
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Projekt hinzufügen</h3>
        </div>
        <div class="panel-body">
            
            <table id="tbl_addProjekt">
                <tr>
                    <td>Projektname:</td>
                    <td><input type="text" id="projektname" class="form-control" placeholder="example Projekt"></td>
                </tr>
                <tr>
                    <td>Projektbeschreibung:</td>
                    <td><input type="text" id="projektbeschreibung" class="form-control" placeholder="example Beschreibung"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="button" class="btn btn-default" id="btn_projektAnlegen">Projekt anlegen</button></td>
                </tr>
            </table>
            
        </div>
    </div>
    
</div>

